*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: initial;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* Navigation Bar */

.navbar{
    position: fixed;
    z-index: 5;
}

nav{
    display: flex;
    width: 98.8932291667vw;
    height: 60px;
    background-color: whitesmoke;
    overflow: hidden;
    box-shadow: 0px 4px 50px rgba(0,0,0,0.2);
}

nav img{
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}

nav ul{
    width: 98.8932291667vw;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
}

.nav-a{
    text-decoration: none;
    color: black;
    padding: 24px 20px;
    font-size: 13px;
}

.nav-a:hover{
    background-color: rgb(170, 166, 166);
}

/* Background */

.home::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 98.8932291667vw;
    background-image: url(./images/front\ page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
    filter: brightness(0.5);
}

/* Home Page */

.home{
    box-sizing: border-box;
    height: 100vh;
}

.home-content{
    padding: 170px 50px;
    display: flex;
    flex-direction: column;
    line-height: 2.3;
}

.span-1{
    font-size: 65px;
    color: white;
}

.span-2{
    font-size: 20px;
    color: white;
}

.home-content div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    height: 60px;
    width: 280px;
    margin-top: 23px;
    font-size: 18px;
    font-weight: lighter;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(170, 166, 166);
    color: rgba(0, 0, 0, 0.777);
    cursor: pointer;
}

.home a{
    text-decoration: none;
    color: black;
    
}

.home-content div:hover{
    background-color: #f1f1f1d3;
}

/* Social Media Logos */

.social-media{
    display: inline-block;
    padding-left: 50px;  
    position: absolute;
    bottom: 40px; 
}

.social-media a{
    color: rgb(170, 166, 166);
}

/* About */

.about{
    display: flex;
    height: 90vh;
    width: 98.8932291667vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 80px;
    z-index: -1;
}

.about h1{
    font-size: 25px;
    font-weight: lighter;
    padding: 30px;
}

.about-content{
    display: flex;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px 10px;
    height: 70px;
    width: 22.786458333333332vw;
    line-height: 2;
}

.content p{
    font-size: large;
    margin: 30px 0px 20px;
}

.content span{
    font-size: 15px;
}

/* We know design */

.design{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 85vh;
    background-color: #f1f1f1;
}

.design img{
    height: 400px;
    width: 700px;
    float: right;
    border-radius: 15px;
    padding-right: 50px;
}

.design-image{
    height: 400px;
}

.design h2{
    margin: 10px 50px;
    display: inline-block;
    font-weight: lighter;
}

.design p{
    width: 70%;
    margin: 15px 50px;
    font-size: 15px;
    line-height: 2;
    font-weight: 100;
}

.design-content{
    height: 400px;
}

.design a{
    height: 43px;
    width: 164px;
    margin: 0px 50px;
    padding: 8px 16px;
    border: 0;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
}

.design a:hover{
    background-color: rgb(170, 166, 166);
    color: black;
}

/* Team */

.team{
    height: 92vh;
    display: flex;
    flex-direction: column;
    padding: 120px 20px;
}

.team h2{
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0px;
    text-align: center;
}

.team-p{
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0px;
    text-align: center;
}

/* Team-Mates */

.teammates{
    display: flex;
    margin-top: 50px;
}

.teammates button i{
    margin: 4px;
}

.mate{
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 22.786458333333332vw;
    margin: 10px;
    border: 0px solid white;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
}

.mate img{
    filter: grayscale(0.6);
    height: 230px;
    width: 22.786458333333332vw;
}

.mate h3{
    margin: 20px;
    font-size: 25px;
    font-weight: 300;
}

.post{
    margin: 5px 20px 20px;
    font-size: 15px;
    color: rgb(128, 126, 126);
}

.mate p{
    text-align: left;
    margin: 5px 20px 20px;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}

.mate button{
    height: 50px;
    width: 20.182291666666668vw;
    border: 0px;
    margin-left: 20px;
    cursor: pointer;
}

.mate button:hover{
    background-color: rgba(128, 128, 128, 0.568);
}

/* Horizontal Row */

.hr{
    height: 200px;
    background-color: #606060;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hr-content{
    margin: 120px;
}

.hr h3{
    font-size: 30px;
    text-align: center;
}

.hr p{
    font-weight: 100;
    margin-top: 15px;
}

/* Our Work */

.work{
    height: 120vh;
    text-align: center;
}

.work h3{
    padding: 150px 0px 30px;
    font-size: 25px;
    font-weight: 400;
}

/* Image gallery */

.image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 96.55416666666667vw;
    margin: 70px 20px;
}

.images{
    height: 230px;
    width:  22.486458333333332vw;
    margin: 10px;
}

.image-gallery img{
    height: 230px;
    width:  22.486458333333332vw;
    transition: 0.5s;
}

.image-gallery img:hover{
    filter: brightness(0.5);
    opacity: 0.8;
    transform: scale(1.05);
    z-index: 2;
}

/* Our Skills */

.skills{
    height: 50vh;
    background-color: #f1f1f1;
}

.skill-box{
    display: flex;
    align-items: center;
    padding: 46px 50px;
}

.skills-content{
    width: 40%;
    height: 250px;
    line-height: 2;
}

.skills-content h3{
    font-size: 25px;
    font-weight: 400;
    padding: 10px 0px;
}

.skills-content p{
    font-size: 15px;
    font-weight: 100;
    color: #606060;
    padding: 5px 0px;
}

/* Skill Bars */

.skills-bar{
    width: 50%;
    height: 250px;
    margin-left: 200px;
}

.skills-bar p{
    display: inline-block;
    margin: 20px 0px 20px 15px;
    font-size: 18x;
    font-weight: lighter;
    letter-spacing: 3px;
}

.bar{
    height: 28px;
    text-align: center;
    color: white;
    background-color: #9e9e9e;
}

.photography{
    background-color: #606060f7;
    height: 28px;
    width: 90%;
}

.web-design{
    background-color: #606060f7;
    height: 28px;
    width: 85%;
}

.photoshop{
    background-color: #606060f7;
    height: 28px;
    width: 75%;
}

/* Pricing */

.pricing{
    height: 130vh;
    background-color: #616161;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing > h3{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.pricing > p{
    text-align: center;
    color: white;
    margin: 30px 0px 50px;
    font-size: 18px;
    font-weight: 100;
}

/* Pricing Box */

.pricing-boxes{
    display: flex;
}

.pricing-boxes p{
    display: inline-block;
    color: #606060;
    padding: 20px 0px;
}

.pricing-boxes hr{
    border: 1px solid #606060;
    border-bottom: none;
    opacity: 0.2;
}

.pricing-boxes span{
    font-weight: 600;
}

.money{
    display: block;
    margin-top: 20px;
    font-size: 40px;
}

.sign-up{
    background-color: #f1f1f1;
    height: 110px;
}

.sign-up button{
    margin-top: 25px;
    height: 50px;
    width: 7.8125vw;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.sign-up button:hover{
    background-color: lightgray;
    color: black;
}

/* Basic */

.basic{
    height: 575px;
    width: 30.598958333333332vw;
    text-align: center;
    margin: 20px;
    background-color: white;
}

.basic:hover{
    box-shadow: 1px 1px 10px black;
}

.basic h3{
    padding: 40px;
    background-color: #000;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

/* Pro */

.pro{
    height: 625px;
    width: 30.598958333333332vw;
    background-color: white;
    text-align: center;
}

.pro:hover{
    box-shadow: 1px 1px 10px black;
}

.pro h3{
    padding: 60px;
    background-color: #f44336;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

/* Premium */

.premium{
    height: 575px;
    width: 30.598958333333332vw;
    text-align: center;
    background-color: white;
    margin: 20px;
}

.premium:hover{
    box-shadow: 1px 1px 10px black;
}

.premium h3{
    padding: 40px;
    background-color: #000;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

/* Contact */

.contact{
    height: 110vh;
    background-color: #F1F1F1;
}

.contact h3{
    padding-top: 120px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.contact > p{
    text-align: center;
    padding: 40px 0px 20px;
    font-size: 18px;
    opacity: 0.7;
}

/* Contact Icons */

.contact-icons{
    margin-bottom: 50px;
}

.contact-icons p{
    margin: 30px;
    vertical-align: middle;
    font-weight: 100;
    font-size: 15px;
}

.contact-icons i{
    margin-right: 30px;
}

/* Contact Information */

.contact-info{
    margin-left: 30px;
    width: 95vw;
    display: flex;
    flex-direction: column;
}

.contact-info input{
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #9e9e9e;
}

.contact-info button{
    margin-top: 20px;
    height: 44px;
    width: 180px;
    background-color: #000;
    color: white;
    cursor: pointer;
    border: none;
}

.contact-info button:hover{
    background-color:#b6b3b3;
    color: #000;
}

/* Footer Image */

.footer-img{
    background-image: url(./images/bottom.jpg);
    background-color: #F1F1F1;
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 30px 120px;
    filter: brightness(0.9);
}

/* Footer */

footer{
    height: 35vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-btn a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
}

.top-btn a:hover{
    background-color:#d1d1d1;
}

.top-btn i{
    margin: 0px 12px 0 8px ;
}

.social-media-1{
    display: inline-block;
    margin: 40px 0px 30px;

}

.social-media-1 a{
    color: white;
}

.made-by{
    color: white;
}